@import "variables";
@import "mixins";
@import "reboot";

.content-section {
  margin: 80px auto;
  padding: 0 20px 20px 20px;
  width: 960px;
  background-color: white;
}
.head-section {
  text-align: center;
}
.image-size {
  width: $image_size;
  height: $image_size;
  border-radius: 50%;
  margin-top: -55px;
}
.hello {
  @include font_style(2em, bolder, black);
}

.main-content {
  display: flex;
  flex-direction: column;
  .title {
    @include font_style(15px, bolder, $primary-color);
  }
}
.education-section {
  display: flex;
  margin-bottom: 10px;
  .year {
    font-weight: bold;
  }
}

.education-detail {
  margin-left: 70px;
  background-color: #ededed;
  width: -webkit-fill-available;
  p {
    padding-left: 10px;
    &:first-child {
      font-weight: bold;
    }
  }
}
